html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-size: 0;
    user-select: none;
    background-color: #c6eeff;
}

.bg {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #c6eeff;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
    font-size: 6vh;
    padding: 2% 0 0 0;
}

.form {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 2vh;
    margin: 3% auto auto auto;
}

.coordinate {
    width: 20%;
    font-size: 2vh;
    margin: 0.7vh;
}

.whitelist {
    width: 43%;
    font-size: 2vh;
    margin: 0.7vh;
}

.check {
    transform: scale(1.2);
    font-size: 2vh;
}

#calc, #reset {
    width: 10%;
    font-size: 1.9vh;
    margin: 0.7vh;
}

.input_tip_yes, .copy_tip_yes {
    font-size: 2vh;
    line-height: 100%;
    color: green;
    padding: 0;
    margin: 0.8vh 0 0.8vh 0;
}

.input_tip_no, .copy_tip_no {
    font-size: 2vh;
    line-height: 100%;
    color: red;
    padding: 0;
    margin: 0.8vh 0 0.8vh 0;
}

.output {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 2vh;
    margin: 0 auto auto auto;
}

.cmd_out {
    width: 45%;
    font-size: 2vh;
    margin: 0.7vh;
}

.copy {
    font-size: 1.9vh;
    margin: 0.7vh 0 0 0;
    width: 10vh;
}

.a_hr {
    width: 55%;
    padding: 0;
    margin: 0 auto 0 auto;
}

.bottom_text, .top_text {
    padding: 0;
    font-size: 1.5vh;
    color: #798288;
}

.top_text {
    margin: 0 auto 1% auto;
}

.bottom_text {
    margin: 1% auto 0 auto;
}

.tips {
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0 5% 4% 5%;
    font-size: 2vh;
}

/*横屏*/
@media screen and (orientation: landscape) {

}

/*竖屏*/
@media screen and (orientation: portrait) {
    .form {
        font-size: 2.2vh;
    }

    .coordinate {
        font-size: 2.2vh;
        margin: 1vh;
    }

    .whitelist {
        font-size: 2.2vh;
        margin: 1vh;
    }

    .check {
        font-size: 2.2vh;
        transform: scale(1.5);
        margin: 2%;
    }

    #calc, #reset {
        width: 20%;
        font-size: 2vh;
        margin: 1vh;
    }

    .input_tip_yes, .copy_tip_yes {
        font-size: 2.2vh;
    }

    .input_tip_no, .copy_tip_no {
        font-size: 2.2vh;
    }

    .output {
        font-size: 2.2vh;
    }

    .cmd_out {
        font-size: 2.2vh;
        margin: 1vh;
    }

    .copy {
        font-size: 2vh;
        width: 10vh;
        margin: 1vh 0 0 0;
    }

    .tips {
        font-size: 2.2vh;
    }
}
